
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }
  :root {
    --body-color:#f0f2f5;
    --nav-color:#1876f2;
    --bg-color:#fff;
    --color: #fff;
    --dark1: #606264;
  --white2: #dde2e7;
  --white3: #c0c6cc80;


  }
  .dark-theme{
    --body-color:#1C1E21;
    --nav-color:#000;
    --bg-color:rgb(27, 27, 27);
    --bg-color2: rgb(26, 21, 21);
    --bg-color3: #c6c6c9;

  

  }

  h1,h2,h3,h4,h5,h6,p {
    color: black;
  }
  h1,h2,h3,h4,h5,h6,p {
    color: var(--bg-color3);
  }


  
  h6 a {
    text-decoration: none;
  }
  h6 {
  
font-size: 20px;
    margin-top: 10px;
  }
  .svg {
    width: 30px;
    height: 30px;
  }
  
  .svg img {
    width: 100%;
    height: 100%;
  }
  body {

    background:var(--bg-color2);
    transition: background 0.3s;
  }
  .container-fluid {
    background:var(--bg-color2)
  }

  .container-fluid .input-group-text {

    background: var(--body-color);

  }

  .class i {
    color: var(--bg-color3);
  }

  .fs-0 {
    font-size: 4rem;
  }
  .fs-7 {
    font-size: 0.8rem;
  }
  .div3 i {
    color: var(--bg-color3);
}
.div4 i {
    color: var(--bg-color3);


}
.div5 i {
    color: var(--bg-color3);


}

  /* nav button */
  .nav__btn button:hover {
    background: var(--bg-color3) !important;
    border-radius: 10px;

  }
  .nav__btn button i {
    color: black;
  }
  .nav__btn button:hover i {
    color: #0d6efd !important;
  }
  .nav__btn-active i {
    color: #0d6efd !important;
  }
  .nav__btn-active {
    position: relative;
  }
  .nav__btn-active:before {
    content: "";
    position: absolute;
    bottom: -4.5px;
    left: 0;
    transform: translate(0, 4.5px);
    width: 100%;
    height: 3px;
    border-bottom: 3px solid #0d6efd !important;
  }
  /* dropdown */

#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition:padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    width: 18px;
    height: 18px;
    background: #fff;
     border-radius: 50%;
     display: inline-block;
}

#dark-btn.dark-btn-on{
padding-left:24px;
background: var(--bg-color);

}


  .container-fluid {
    background:var(--bg-color2)
  }

  .container-fluid .input-group-text {

    background: var(--body-color);

  }

  .class i {
    color: var(--bg-color);
  }


  .fs-0 {
    font-size: 4rem;
  }
  .fs-7 {
    font-size: 0.8rem;
  }
  .div3 i {
    color: var(--bg-color3);
}
.div4 i {
    color: var(--bg-color3);


}
.div5 i {
    color: var(--bg-color3);


}
h1,h2,h3,h4,h5,h6,p {
  color: black;
}
h1,h2,h3,h4,h5,h6,p {
  color: var(--bg-color3);
}


.Profile-container  {
    padding: 20px 15%;
    color: #626262;
}
.cover-img {
    width: 100%;
    border-radius: 6px;
 margin-top: 50px;

}
.profile-details {
    margin-top: 10px;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items:flex-start ;
    justify-content: space-between;
    box-shadow: 1px 1px 1px rgb(0, 0, 0,0.2), -1px -1px 1px rgb(0, 0, 0,0.2) ;
}
.pd-row {
    display: flex;
    align-items: flex-start;
}
.pd-image {
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
}
.pd-row  h6 {
    font-size: 25px;
    font-weight: 600;
color: var(--bg-color);
}
.pd-row  p {
    font-size: 13px;

}

.pd-row div img {
    width: 25px;
    border-radius: 50%;
    margin-top: 12px;
}
.pd-right button {
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right button img {
    height: 15px;
    margin-right: 10px;
}
.pd-right button:first-child {
    background: #e4e6eb;
    color: #000;
}
.pd-right {
    text-align: right;
}
.pd-right a {
    background: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}
.pd-right a img {
    width: 20px;

}
    

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }
  :root {
    --body-color:#f0f2f5;
    --nav-color:#1876f2;
    --bg-color:#fff;
    --color: #fff;
    --dark1: #606264;
  --white2: #dde2e7;
  --white3: #4e4f5080;


  }
  .dark-theme{
    --body-color:#1C1E21;
    --nav-color:#000;
    --bg-color:rgb(27, 27, 27);
    --bg-color2: rgb(26, 21, 21);
    --bg-color3: #c6c6c9;

  

  }

  h1,h2,h3,h4,h5,h6,p {
    color: black;
  }
  h1,h2,h3,h4,h5,h6,p {
    color: var(--dark1);
  }


  
  h6 a {
    text-decoration: none;
  }
  h6 {
  
font-size: 20px;
    margin-top: 10px;

  }
  .svg {
    width: 30px;
    height: 30px;
    color: var(--dark1);

  }
  
  .svg img {
    width: 100%;
    height: 100%;
    color: var(--dark1);

  }
  body {

    background:var(--bg-color2);
    transition: background 0.3s;
  }
  .container-fluid {
    background:var(--bg-color2)
  }

  .container-fluid .input-group-text {

    background: var(--body-color);

  }

  .class i {
    color: var(--dark1);

  }

  .fs-0 {
    font-size: 4rem;
  }
  .fs-7 {
    font-size: 0.8rem;
  }
  .div3 i {
    color: var(--bg-color3);
}
.div4 i {
    color: var(--bg-color3);


}
.div5 i {
    color: var(--bg-color3);


}

  /* nav button */
  .nav__btn button:hover {
    background: var(--bg-color3) !important;
    border-radius: 10px;

  }
  .nav__btn button i {
    color: black;
  }
  .nav__btn button:hover i {
    color: #0d6efd !important;
  }
  .nav__btn-active i {
    color: #0d6efd !important;
  }
  .nav__btn-active {
    position: relative;
  }
  .nav__btn-active:before {
    content: "";
    position: absolute;
    bottom: -4.5px;
    left: 0;
    transform: translate(0, 4.5px);
    width: 100%;
    height: 3px;
    border-bottom: 3px solid #0d6efd !important;
  }
  /* dropdown */

#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition:padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    width: 18px;
    height: 18px;
    background: #fff;
     border-radius: 50%;
     display: inline-block;
}

#dark-btn.dark-btn-on{
padding-left:24px;
background: var(--bg-color);

}
/*-----------------main---------------*/



 .friends_post .friend_post_top .img_and_name .friends_name {
    color: var(--bg-color3);
      
  }
 .friends_post{
    margin: 10px 0;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px; -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);    padding: 10px 15px;
}

 .friends_post .friend_post_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

 .friends_post .friend_post_top .img_and_name{
    display: flex;
    align-items: center;

}

.friends_post .friend_post_top .img_and_name img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    margin-right: 8px;
    cursor: pointer;
}

 .friends_post .friend_post_top .img_and_name .friends_name .friends_name{
    font-weight: bold;
    cursor: pointer;
}

 .friends_post .friend_post_top .img_and_name .friends_name .friends_name:hover{
    text-decoration: underline;
}

 .friends_post .friend_post_top .img_and_name .friends_name .time{
    font-size: 14px;
    color: var(--bg-color3);
    margin: 3px 0;
}

 .friends_post .friend_post_top .img_and_name .friends_name .time i{
    font-size: 10px;
    margin-left: 5px;
}

 .friends_post .friend_post_top .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

 .friends_post .friend_post_top .menu:hover{
    background: var(--bg-color3);
    cursor: pointer;
}
.my_post .post_top  input{

    background: var(--bg-color);
}
 .my_post {
    background: var(--bg-color);

}   


 .friends_post .friend_post_top .menu i{
    line-height: 35px;
    margin-left: 8px;
    font-size: 18px;
}

.friends_post img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;

    border-radius: 5px;
}

 .friends_post .info{
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin: 10px 0;
}

 .friends_post .info .emoji_img{
    display: flex;
}

 .friends_post .info .emoji_img img{
    width: 20px;
    height: 20px;
}

.friends_post .info .emoji_img p{
    margin-left: 10px;
    font-size: 16px;
}

.friends_post .info .comment{
    display: flex;
    align-items: center;
}

.friends_post .info .comment p{
    padding: 0 12px;
    font-size: 15px;
}
 .comment_search input {
    background: var(--bg-color);
}
 .friends_post hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin: 10px 0;
}

.friends_post .like{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

 .friends_post .like .like_icon{
    display: flex;
    align-items: center;

   
}

.friends_post .like .like_icon i{
    font-size: 20px;
    margin-right: 8px;
    color: var(--bg-color3);
}

 .friends_post .like .like_icon i.activi{
    color: #0d6efd ;
}

 .friends_post .comment_warpper{
    display: flex;
    align-items: center;
}

.friends_post .comment_warpper img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    margin-right: 15px;
}
 .friends_post .comment_warpper .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    top: 15px;
    right: 25px;
}

.friends_post .comment_warpper .comment_search{
    width: 95%;
    padding: 5px 15px;
    background:var(--body-color);

    border-radius: 30px;
}

 .friends_post .comment_warpper .comment_search input{
    width: 85%;
    height: 30px;
    background: none;
    border: none;
    outline: none;
}

 .friends_post .comment_warpper .comment_search i{
    padding: 0 5px;
    color: var(--bg-color3);
}

.profile-into {
    display: flex;
    align-self: flex-start;
justify-content: space-between;
margin-top: 20px;

}
.info-col {
    flex-basis: 33%;
}
.post-col {
    flex-basis: 65%;
}

.profile-into {
    box-shadow: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.profile-into h3 {
    font-weight: 600;
    color: var(--bg-color3);


}
.intro-text {
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
    color: var(--bg-color3);
}
.intro-text img {
    width: 15px;
     margin-bottom: 3px;
}
.post-col .shadow-1 {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4),-3px -3px 3px rgba(0, 0, 0, 0.4);
}
.profile-intro hr {
    border: 0;
    height: 100px;
    background: #000;
   
} 
.profile-intro ul li {
    list-style: none;
    font-size: 15px;
    margin: 15px 0px;
    display: flex;
    align-items: center;
}
.profile-intro ul li img {
    width: 26px;
    margin-right: 10px;
}
.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-box a {
    text-decoration: none;
    color: #1876f2;
    font-size: 15px;
}
.photo-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
    height: 200px;

}
.photo-box  img {
    width: 100%;
    cursor: pointer;
}
.profile-intro p {
    font-size: 14px;

}
.friends-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
  height: 400px;
}
.friends-box img {
    width: 100%;
    cursor: pointer;
  padding-bottom: 20px;

}
.friends-box div {
    position: relative;
}
.friends-box p {
    position: absolute;
    bottom: 0;
    left: 0;

}
.post-col .box  {
    background-color: var(--bg-color);
}
.friends_post {
    background-color: var(--bg-color);

}
.profile-intro
 {
    background-color: var(--bg-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4),-3px -3px 3px rgba(0, 0, 0, 0.4);
    margin-right: 30px;
    height: 300px;

}
.title-box {
    background-color: var(--bg-color);

}


.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  border-radius: 15px;
}
.bg-gray-100 span {
  font-weight: 600;
}

